numpy == 1.26.4
scipy == 1.13.1
matplotlib == 3.7.*
qiskit == 1.1.1
qiskit-dynamics == 0.5.1
qiskit-experiments == 0.7.0
qiskit-ibm-runtime == 0.24.1
qiskit-ibm-experiment == 0.4.7
uncertainties
lmfit
pylatexenc
qutip == 5.0.*
jax[cpu] == 0.4.6
